.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px) saturate(100%);
  -webkit-backdrop-filter: blur(5px) saturate(100%);
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.modal .img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.modal .img img {
  transition: all 0.5s linear;
  width: auto;
  opacity: 1;
  box-shadow: 1px 1px 20px rgba(49, 49, 49, 0.588);
}

@media screen and (max-width: 500px) {
  .modal .img img {
    max-width: 400px;
  }
}
